           * {
				margin: 0;
				padding: 0;
			}
			
			body {
				font-size: 12px;
				font-family: "Microsoft YaHei", 微软雅黑, 黑体;
				background-color: #FAFAFA;
			}
			
			a {
				text-decoration: none;
				color: #535353;
			}
			
			li {
				list-style: none;
			}